<!-- Header Start -->

<div class="header-section">
  <div class="header-content">
    <div class="container">
      <div class="header-row">
        <div class="header-text">
          <div class="intro-text">
            <h2>Yida Wang, Ph.D.</h2>
            <p class="title-text">
              Principal Scientist<br/>
              AWS AI, Amazon<br/>
              2795 Augustine Drive, Santa Clara, CA, 95054, USA<br/>
              <i>Email</i>: wangyida at amazon dot com
            </p>
          </div>
        </div>
        <div class="header-photo">
          <div class="photo-section">
            <img class="img-me" src="{{ '/img/yida.jpg' | relative_url }}" alt="Yida Wang">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Header End -->