<!-- Header Start -->

<div class="header-section">
  <div class="header-content">
    <div class="container">
      <div class="header-row">
        <div class="header-text">
          <div class="intro-text">
            <h2>Yida Wang, Ph.D.</h2>
            <p class="title-text">
              Senior Director of Compiler Engineering<br/>
              NVIDIA<br/>
              2788 San Tomas Expressway, Santa Clara, CA, 95051, USA<br/>
              <i>Email</i>: yidaw at nvidia dot com
            </p>
          </div>
        </div>
        <div class="header-photo">
          <div class="photo-section">
            <img class="img-me" src="{{ '/img/yida.jpg' | relative_url }}" alt="Yida Wang">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Header End -->